@use '@/styles/variables' as *;

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    color: #ccc;
  }

  input {
    padding: 0.75rem 1rem;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #1e1e1e;
    color: white;
    font-size: 1rem;
    transition: border-color 0.3s;

    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }

  .errorInput {
    border-color: #e74c3c;
  }

  .errorText {
    margin-top: 0.25rem;
    color: #e74c3c;
    font-size: 0.75rem;
  }
}
